@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager
/*
0 - 600 px      phone
600 - 900px     tablet - portrait
600 - 1200px    tablet - landscape
1200 - 1800px   is the normal CSS
1800 px +>      big screen

$breakpoint argument keuze
phone
tab-por
tab-land
big-desktop

order
base + typography
general layout en grid
page layout en components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab_por {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab_land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big_desktop {
    @media  only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
